{% extends "dine/base.html" %}
{% block title %}dineTogether|party{% endblock title %}
{% block context %}

{% if user.is_authenticated %}
	{% if party %}
	<div class="jumbotron">
		<div class="container">
			<h1>{{ party.name }}</h1>
			{% if not party.is_alive %}
				<p><span class="label label-danger">Let's Go!</span>
				{% if winner.schedule %}
				 {{ winner.schedule.date|date }}
				{% endif %}
				{% if winner.restaurant %}
				, <a href="/dine/detail/r/{{ winner.restaurant.id }}/">{{ winner.restaurant.name }}</a>
				{% endif %}
				</p>
			{% else %}
				<p><span class="label label-danger">Due</span> {{ party.due_date|date }}</p>
			{% endif %}
			<p><span class="label label-info">What</span> {{ party.description }}</p>
			<p>
			<span class="label label-info">Who</span>
			{% for user in users %}
			 	 <span class="label label-default">{{ user.email }}</span>
			{% endfor %}
			</p>
			{% if owner and party.is_alive %}
			<form class="navbar-form" method="post" action="add_user">
				{% csrf_token %}
            	<div class="form-group">
            		<input type="text" name="join_user" placeholder="User email" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Add user</button>
            </form>
			{% endif %}
		</div>
	</div>

	<div class="container">
		<h3><span class="label label-info">Schedule</span></h3>
		<!-- Example row of columns -->
		{% if party.is_alive and schedules.count and not up.schedule_voted %}
		<form method="post" action="vote_schedule">
			{% csrf_token %}
		{% endif %}
			<div class="row">
				{% for schedule in schedules %}
		    		<div class="col-md-2">
		      			<p>{{ schedule.date|date }}</p>
		      			<p id="weekday">{{ schedule.date|date:"l" }}</p>
		      			<div class="checkbox">
		      				{% if party.is_alive and not up.schedule_voted %}
		      				<label>		      					
		      					<input type="checkbox" name="{{ schedule.id }}"> 
		      				{% endif %}
		      					 <span class="badge btn-warning">{{ schedule.votes }}</span>
		      				{% if party.is_alive and not up.schedule_voted %}
		      				</label>
		      				{% endif %}
		      			</div>
		    		</div>
		    	{% endfor %}
			</div>
			{% if party.is_alive and schedules.count and not up.schedule_voted %}
			<div>
				 <button type="submit" class="btn btn-primary">Vote</a>
			</div>
			{% endif %}
		</form>
		{% if owner and party.is_alive %}
            <form class="navbar-form" method="post" action="add_schedule">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" id="datetimepicker" name="schedule_date" placeholder="Party date" class="form-control" data-format="yyyy-MM-dd">
				</div>
			 	<button type="submit" class="btn btn-success">Add schedule</button>
			</form>
		{% endif %}
	</div>

	<hr/>

	<div class="container">
		<h3><span class="label label-info">Restaurant</span></h3>
		<!-- Example row of columns -->
		{% if party.is_alive and restaurants.count and not up.restaurant_voted %}
		<form method="post" action="vote_restaurant">
			{% csrf_token %}
		{% endif %}
			<div class="row">
				{% for restaurant in restaurants %}
		    		<div class="col-md-3">
		      			<h4><a href="/dine/detail/r/{{ restaurant.id }}/">{{ restaurant.name }}</a></h4>
		      			<p>{{ restaurant.description }} </p>
		      			<div class="radio">
		      				{% if party.is_alive and not up.restaurant_voted %}
		      				<label>		      					
		      					<input type="radio" name="vote_restaurant" value="{{ restaurant.id }}"> 
		      				{% endif %}
		      					 <span class="badge btn-warning">{{ restaurant.votes }}</span>
		      				{% if party.is_alive and not up.restaurant_voted %}
		      				</label>
		      				{% endif %}
		      			</div>
		    		</div>
		    	{% endfor %}
			</div>
			{% if party.is_alive and restaurants.count and not up.restaurant_voted %}
			<div>
				 <button type="submit" class="btn btn-primary">Vote</a>
			</div>
			{% endif %}
		</form>
		{% if owner and party.is_alive %}
            <p class="navbar-form"><a class="btn btn-success" href="add_restaurant" role="button">Add restaurant</a></p>
		{% endif %}
	</div>

	{% endif %}
{% endif %}

{% endblock context %}